---
import Discord from "@/icons/Discord.astro";
import GitHub from "@/icons/GitHub.astro";
import LogoIcon from "@/icons/LogoIcon.astro";
---

<header
  class="bg-black fixed w-full min-h-[50px] flex items-center justify-between px-6 z-50"
>
  <a href="/" class="text-xl font-semibold transition-opacity">
    <LogoIcon />
  </a>
  <div class="flex items-center gap-2">
    <a
      href="https://github.com/yxsifdev"
      target="_blank"
      title="GitHub"
      class="inline-flex items-center justify-center rounded-full size-10 text-neutral-400 hover:text-white"
    >
      <GitHub class="size-5" />
    </a>
    <a
      href="https://discord.com"
      target="_blank"
      title="Discord"
      class="inline-flex items-center justify-center rounded-full size-10 text-neutral-400 hover:text-white"
    >
      <Discord class="size-5" />
    </a>
  </div>
</header>
